/* comment */

/* Basic reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* I used the div element as a container
    *** the margin property is used to create space around boxes.
    *** the min-height property is used to set the minimum height of a box.
*/
div {
  background-color: teal;
  background-image: url(../img/big.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  margin: 20px;
  min-height: 500px;
}

/* The padding property is used to create some room inside paragraphs*/
p {
  padding: 10px;
  color: #fff;
}
